<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link of font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!--<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />-->
    <link rel="stylesheet" href="~/css/fonts.css">
    <!--link bootstrape css-->
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">
    <!--link bootstrape css-->
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css">
    <!--link fontawsome css-->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!--link croppie.css-->
    <link href="~/css/croppie.css" rel="stylesheet" />
    <!--link the css file style of all page website-->
    <link rel="stylesheet" href="~/css/e_commerce.css">
    <link rel="stylesheet" href="~/css/addproduct.css">
    <link rel="stylesheet" href="~/css/Aution.css">
    <link rel="stylesheet" href="~/css/ChangePass.css">
    <link rel="stylesheet" href="~/css/Check.css">
    <link rel="stylesheet" href="~/css/Details.css">
    <link rel="stylesheet" href="~/css/Help.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <link rel="stylesheet" href="~/css/SignIn.css">
    <link rel="stylesheet" href="~/css/UserinfoC2C.css">
    <link rel="stylesheet" href="~/css/editprofileimg.css">
    <link rel="stylesheet" href="~/css/aboutus.css">
    <link rel="stylesheet" href="~/css/Basket.css">


</head>
<body>
    <!-- start navbar-->
    <nav class="navbar d-block navbar-expand-lg  sticky-top  ">
        <div class=" container ">
            <a class="navbar-brand text-white" href="#">Logo</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                <ul class="navbar-nav me-5 mb-2 mb-lg-0 d-none d-lg-flex">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">
                            <i class="fa-brands fa-facebook fa-lg  rounded-circle p-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-brands fa-whatsapp fa-lg  rounded-circle p-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-brands fa-twitter fa-lg  rounded-circle p-2"></i>
                        </a>
                    </li>

                </ul>
                @{
                    string search = ViewBag.Search;
                }

                <form class="search  mx-auto" action="/" method="get">
                    <input class="form-control me-2 rounded-pill" type="search" placeholder="ابحث هنا" name="search" aria-label="Search">
                </form>

                <ul class="navbar-nav justify-content-center  p-3 gap-3">
                    <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Basket">
                                <i class="fa-solid fa-cart-shopping fa-lg  rounded-circle"></i>السلة
                                <span class="badge  rounded-pill">@ViewBag.cartCount</span>
                            </a>
                        </li>
                    @if (ViewBag.userS == null || ViewBag.userS == "")
                    {
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/Login">
                                <i class="fa-solid fa-user fa-lg  rounded-circle "></i>
                                تسجل الدخول
                            </a>
                        </li>

                        <li class="nav-item d-none ">
                            <a class="nav-link active" aria-current="page" href="/Home/Logout">
                                <i class="a-solid fa-right-from-bracket fa-lg  rounded-circle"></i>تسجيل الخروج

                            </a>
                        </li>
                        <li class="nav-item btn-group ">
                            <a class="nav-link dropdown-toggle " href="#" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-globe fa-lg  rounded-circle "></i>
                                اللغة
                            </a>
                            <ul class="dropdown-menu  shangelanguage dropdown-menu-colo-light " aria-labelledby="dropdownMenuButton2">
                                <hr style="border:solid 1px #13A200 ;">
                                <li><a class="dropdown-item " href="#">  عربي</a></li>
                                <li><a class="dropdown-item" href="#">  English</a></li>
                                <hr style="border:solid 1px #13A200 ;">
                            </ul>
                        </li>
                    }
                    else
                    {
                        

                        <li class="nav-item  btn-group myacount ">
                            <img src="~/uploads/@ViewBag.userImage" class="rounded-circle" style="width:35px ; height: 35px;" alt="myprofileimage">
                            <a class="nav-link dropdown-toggle " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                حسابي
                            </a>
                            <ul class="dropdown-menu  dropdown-menu-colo-light fs-6 " aria-labelledby="dropdownMenuButton2">
                                <li class="dropdown-item myacountname  ">
                                    <img src="~/uploads/@ViewBag.userImage" class="rounded-circle" style="width:35px ; height: 35px;" alt="myprofileimage">
                                    <span>@ViewBag.userS</span>

                                </li>
                                <hr style="border:solid 1px #13A200 ;">
                                <li>
                                    <a class="dropdown-item mt-2 " href="/Userinfo">
                                        <i class="fa-solid fa-user fa-lg  rounded-circle "></i>
                                        بياناتي الشخصية
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Userinfo">
                                        <i class="fa-solid fa-line-chart fa-lg  rounded-circle "></i>
                                        نشاطي
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Home/Logout">
                                        <i class="fa-solid fa-sign-out fa-lg  rounded-circle "></i>
                                        تسجيل الخروج
                                    </a>
                                </li>
                                <hr style="border:solid 1px #13A200 ;">
                            </ul>
                        </li>

                        <li class="nav-item btn-group ">
                            <a class="nav-link dropdown-toggle " href="#" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-globe fa-lg  rounded-circle "></i>
                                اللغة
                            </a>
                            <ul class="dropdown-menu  shangelanguage dropdown-menu-colo-light " aria-labelledby="dropdownMenuButton2">
                                <hr style="border:solid 1px #13A200 ;">
                                <li><a class="dropdown-item " href="#">  عربي</a></li>
                                <li><a class="dropdown-item" href="#">  English</a></li>
                                <hr style="border:solid 1px #13A200 ;">
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>
        <div class=" mb-0 mt-1">
            <nav class=" nav1 d-block   ">
                <ul class=" navbar1 nav justify-content-center gap-lg-5  ">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autions">المزادات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AboutUs">من نحن</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/help">طلب مساعدة</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>

    <!-- end navbar-->
    <!-- start navbar categories in homr  page-->

    @RenderBody()



    <!-- start footer-->
    <footer class=" ">
        <div class="footer pt-5 pb-2  text-center text-md-start">
            <div class="container">
                <div class="row pb-0">
                    <div class="col-md-6 col-lg-4">
                        <div class="info mb-5">
                            <h5> <a class="navbar-brand  " href="#">Logo</a></h5>
                            <p class=" lh-lg  mb-2">
                                عبارة عن منصة إليكترونية مخصصة لبيع وشراء وترويج
                                المنتجات الزراعية والحيوانية المختلفة ومستلزماتها.
                                يقدم الموقع خدمات المزاد العلني للعملاء
                                والذي يتيح لهم تصفح المزادات والاشتراك بها وفق شروط محددة.
                            </p>
                            <p class="footertime">
                                يمكـــنكم التواصــــــــل معنا خلال 24 ساعة على مدار الاسبــــــــــــوع
                                ويمكنكم تصفح المنتجات والمزادات وطلب أي منتج
                                وفي حالة كان معكم استفسارات او مقترحات يمكنكم التواصل معنا
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="links">
                            <h5 class="">روابط</h5>
                            <ul class=" nader list-unstyled lh-lg">
                                <li>
                                    <a class="d-block  nav-link" href="#">الرئيسية</a>
                                </li>
                                <li>
                                    <a class="d-block  nav-link" href="#">الشروط والاحكام</a>
                                </li>
                                <li>
                                    <a class="d-block  nav-link" href="#">سياسة الخصوصية </a>
                                </li>
                                <li>
                                    <a class="d-block  nav-link" href="#"> سياسة الاستخدام</a>
                                </li>
                                <li>
                                    <a class="d-block  nav-link" href="#">الشحن والتسليم </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="links">
                            <h5>روابط اخرى</h5>
                            <ul class="list-unstyled lh-lg ">
                                <li>
                                    <a class="d-block  nav-link" href="#">المنتجات</a>
                                </li>
                                <li>
                                    <a class="d-block nav-link" href="#">المزادات</a>
                                </li>
                                <li>
                                    <a class="d-block  nav-link" href="#">طلب مساعدة</a>
                                </li>
                                <li>
                                    <a class="d-block  nav-link" href="#">تواصل معنا</a>
                                </li>
                                <li>
                                    <a class="d-block  nav-link" href="#">تسجيل الدخول</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ">
                        <div class=" links contact ">
                            <h5 class="">تواصل معنا</h5>
                            <ul class=" list-group  list-unstyled  text-start  ">
                                <li>
                                    <a class="d-block  nav-link  " href="#">

                                        <i class="fa-solid fa-location-dot fa-xl  rounded-circle "></i>
                                        الجمهورية اليمنية. الاتحاد التعوني الزراعي
                                    </a>
                                </li>

                                <li>
                                    <a class="d-block  nav-link" href="#">
                                        <i class="fa-brands fa-linkedin fa-lg  rounded-circle "></i>
                                        info@ahdd.come
                                    </a>
                                </li>
                                <li>
                                    <a class="d-block  nav-link" href="#">
                                        <i class="fa-solid fa-phone fa-lg  rounded-circle "></i>
                                        00967770555555
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav justify-content-center  rounded-pill mt-4">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <i class="fa-brands fa-facebook fa-lg  rounded-circle p-1"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fa-brands fa-whatsapp fa-lg  rounded-circle p-1"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fa-brands fa-twitter fa-lg  rounded-circle p-1"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="copyright  text-center pt-4 pb-4 ">
            جميع الحقــــــــــــوق محفوظة لدى الاتحاد الزراعــــي    <i class="fa-solid fa-copyright"></i>     2022
        </div>


    </footer>
    <!-- end footer-->
    <!--link jquery-3.6.0 -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <!--link jquery.dataTables.min.js -->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <!--link bootstrap js -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!--link fontawsome js -->
    <script src="~/js/all.min.js"></script>
    <!--link bootstrap Validation js -->
    <script src="~/js/Validation.js"></script>
    <!--link pagination_2.1.5  -->
    <script src="~/js/pagination_2.1.5.min.js"></script>
    <!--link croppie.min.js -->
    <script src="~/js/croppie.min.js"></script>
    <!--link the js file script of all page website -->
    <script src="~/js/paginationproduct.js"></script>
    <script src="~/js/addproduct.js"></script>
    <script src="~/js/detailes.js"></script>
    <script src="~/js/ModelNotice.js"></script>
    <script src="~/js/ScriptScrollMenu.js"></script>
    <script src="~/js/UserinfoC2C.js"></script>
    <script src="~/js/profile.js"></script>
    <script src="~/js/Basket.js"></script>


</body>
</html>




@await RenderSectionAsync("Scripts", required: false)
