@model IEnumerable<E_commerce.Models.Product>
@{ Layout = null; }

<div class="row">
    <!-- Basic -->
    <div class="col-md-12">
        <form class="row g-3 needs-validation">

            <!-- select2 -->
            <div class="form-group" id="select">
                <label class="form-label w-100" for="category-product"></label>
                <div class="input-group input-group-merge">
                    <select id="category-product" class="select2 form-select"
                            name="CategoryId" style="width: 100%;" data-placeholder="حدد الصنف"
                            aria-describedby="modalAddCard2">
                        
                    </select>
                </div>
                <span class="text-danger"></span>
            </div>
            <!-- /select2 -->
        </form>
    </div>
</div>