@model IEnumerable<E_commerce.Models.Product>
@{
    Layout = null; 
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 col-xl-12">
    @foreach (var item in Model){
            <div class="card mb-6">
                @if (item.ImagesProducts.Any())
                {
            <img class="card-img-top"
                 src="~/uploads/@item.ImagesProducts.First().ImageUrl"
                 alt="Card image cap" height="200"> }
                            else
                            {
            <img class="card-img-top"
                 src="~/uploads/default.png"
                 alt="Card image cap" height="200">            
                }

                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">@item.NameAr</h5>
                        </div>
                        <div class="col-4">
                            <span class="d-none d-lg-inline-block" >@item.Price ريال</span>
                        </div>
                    </div>
                    <p class="card-text">
                        @item.DetailsAr
                    </p>
                    <p class="card-text">
                        <small class="text-muted">@item.CreatedAt</small>
                    </p>
                </div>
            </div>
            <span>&nbsp;</span>
    }
        </div>
    </div>
</div>