/* import fonts from fonts.css file */ 
@import url(././fonts.css);

:root {
    --green-color-dark: #031900;
    --green-color-light: #CEE9CB;
    --green-color:#13A200;
    --green-color2-d: #118C00;
    --body-color:#F9F7F7;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
  }
/*start body style*/
body{
  direction: rtl;
  font-family: "NaderFont","Roboto",sans-serif;
  background-color: var(--red-color);
}
/*start body style*/
.Aution{
  background-color: var(--body-color);
}
.DivAution .btnAution{
    background-color: var(--green-color2-d);
    color: white;
    font-weight: bold;
    border-radius: 10px;
   
  }
 
.DivAution .card { 
  
    color:var(--green-color-dark);
    border-radius: 1em ;
    border-style:  double;
    border: white double 4px;
  }
.card img{
    border-radius: 1em 1em  0em 0em;
  }
.card .autionTime {
     background-color:var(--green-color-light) ;
     font-weight: bold;
  }
  

  
  



