/* import fonts from fonts.css file */ 
@import url(././fonts.css);

:root {
    --green-color-dark: #031900;
    --green-color-light: #CEE9CB;
    --green-color:#13A200;
    --green-color2-d: #118C00;
    --body-color:#F9F7F7;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
  }
/*start body style*/

/*start body style*/
.Aution{
  background-color: var(--body-color);
}
.DivAution .btnAution{
    background-color: var(--green-color2-d);
    color: white;
    font-weight: bold;
    border-radius: 10px;
   
  }
 
.DivAution .card { 
  
    color:var(--green-color-dark);
    border-radius: 1em ;
    border-style:  double;
    border: white double 4px;
  }
.card img{
    border-radius: 1em 1em  0em 0em;
  }
.card .autionTime {
     background-color:var(--green-color-light) ;
     font-weight: bold;
  }

/*start style paginaton*/
.DivAution .pages {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.DivAution .previous-page a,
.DivAution .next-page a {
    background-color: var(--green-color);
    color: white;
}

.DivAution .pages .active a {
    background-color: var(--green-color2-d);
    color: white;
}

.DivAution .pages .disable a {
    background-color: var(--green-color-light);
    color: var(--green-color-dark);
}

.DivAution .previous-page a:hover,
.DivAution .previous-page a:focus,
.DivAution .next-page a:hover,
.DivAution .next-page a:focus {
    background-color: var(--green-color2-d);
    color: white;
}

.DivAution .current-page a,
.DivAution .dots a {
    background-color: var(--green-color-light);
    color: var(--green-color-dark);
}

    .DivAution .current-page a:hover,
    .DivAution .dots a:hover {
        background-color: white;
        color: var(--green-color-dark);
    }



/*end style paginaton*/

  
  



