/* import fonts from fonts.css file */ 
@import url(././fonts.css);

:root {
    --green-color-dark: #031900;
    --green-color-light: #CEE9CB;
    --green-color:#13A200;
    --green-color2-d: #118C00;
    --body-color:#F9F7F7;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
  }
/*start body style*/

/*start body style*/
.changepass{
    background-color: white;
    border-radius: 1em;
}
.changepass  .changepassTopDiv{
    background-color: var(--green-color);
    border-radius: 1em 1em 0em 0em;
}

.changepass form input{
    border-radius: 10px;
}
.changepass .linksginup{
    color:var(--green-color);
    font-weight: bold;
}
.changepass .btnsubmit{
    background-color: var(--green-color);
    color: white;
    border-radius: 10px;
    border: var(--green-color) double 3px;
    
}
.changepass .btnsubmit:hover,
.changepass .btnsubmit:focus,
.changepass .btnsubmit :active
{
    background-color: var(--green-color2-d);
    color: white;
    border-radius: 10px;
}