<title>من نحن</title>

<div class="container aboutus my-4 p-3   ">
    <div class="titleimg  d-flex justify-content-center py-2">
        <img src="../imgs/logo3.svg" alt="">

    </div>
    <h1 class="titlePrg w-100 py-2 text-center font-monospace">الاتحاد التعاوني الزراعي</h1>

    <div class="row g-5 textDiv  ">
        <!--
            m-auto mt-sm-0 mt-lg-5 m-md-0
        -->

        <div class="  col-sm-12 col-md-6 col-lg-6  pt-4    ">
            <div class=" ourwork     p-4 m-2 mb-0 ">
                <h3 class="p-2 font-monospace my-2"> عملنا</h3>
                <p>
                    <i class="fa-solid fa-square-check me-2 fa-lg"></i>

                    منصة الكترونية
                    متخصصة بتسويق
                    المنتجات الزراعية
                    اليمنية
                </p>
                <p>
                    <i class="fa-solid fa-square-check me-2 fa-lg"></i>
                    طرف وسيط يدير
                    المنصات الزراعية
                    ويضمن عمليات البيع .
                </p>
                <p>
                    <i class="fa-solid fa-square-check me-2 fa-lg"></i>
                    رقابة الأسواق
                    المحلية الكترونيا
                    وضبط الإنتاج

                </p>


            </div>
            <div class="  ourfeatures    p-4 m-2 mt-0  ">
                <h3 class="p-2 font-monospace my-2"> امتيازاتنا</h3>
                <p>
                    <i class="fa-solid fa-square-check me-2 fa-lg"></i>

                    وجود مزاد
                    زراعي يجمع المزارعين
                    وأصحاب المعدات
                    والخدمات الأخرى
                </p>
                <p>
                    <i class="fa-solid fa-square-check me-2 fa-lg"></i>
                    وصول
                    المزارعين الى العملاء
                    المحتملين لبيع
                    منتجاتهم ومحاصيلهم
                </p>
                <p>
                    <i class="fa-solid fa-square-check me-2 fa-lg"></i>
                    تقديم خدمة عملاء ذات نطاق واسع
                    لتلبة تلك الخدمات
                </p>


            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6  ">
            <div>
                <img src="../imgs/About_us2.svg" class=" img-fluid " alt="">
            </div>


        </div>

    </div>

</div>