@model Auction
@{ 
    ViewData["title"] = "basem";
    Layout = null;
}

<div class="layout-page">
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <span class="d-none d-lg-inline-block" style="font-size: 25px;">المزادات/</span>
        </div>
        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Toast with Placements -->
            @await Html.PartialAsync("_Toast", null)
            <!-- Toast with Placements -->
            <div class="card  p-4">
                <div class="card-header border-bottom">
                    <span class="d-none d-lg-inline-block" style="font-size: 20px;">عرض المزادات</span>
                </div>
                <h1>User Auction</h1>

                <div>
                    @Model.AuctionsUser.User.Name
                </div>
                <div>
                    @Model.Product.NameAr
                </div>

                <div>
                    @Model.AuctionsUser.User.Phone.Number
                </div>
                <div>
                    @Model.AuctionsUser.Amount
                </div>
            </div>
        </div>
    </div>
</div>